@import 'src/styles/base/mixn';

:host {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 2rem;
  width: 100%;

  @include mq(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

:host ::ng-deep > * {
  background-color: var(--c-gray-50);
  overflow: hidden;
}
