:host {
  border-bottom: 1px solid var(--c-gray-50);
  display: flex;

  .wrap {
    padding: 2rem;
  }

  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  ul {
    align-items: center;
    display: flex;
  }

  a {
    margin-left: 0.5rem;
    padding: 0.5rem;
    position: relative;

    &.logo {
      color: var(--c-reds-500);
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}
