:host {
  border-bottom: 1px solid var(--c-gray-50);
  display: flex;

  .wrap {
    padding: 2rem;
  }

  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  ul {
    align-items: center;
    display: flex;
  }

  a {
    margin-left: 0.5rem;
    padding: 0.5rem;
    position: relative;

    &.logo {
      color: var(--c-reds-500);
      font-weight: bold;
      font-size: 1.5rem;
      margin-left: 0;
    }

    span.header__quantity {
      align-items: center;
      background-color: blue;
      border-radius: 50%;
      color: white;
      display: flex;
      font-weight: bold;
      height: 1.5rem;
      justify-content: center;
      position: absolute;
      right: -0.5rem;
      top: -0.5rem;
      width: 1.5rem;
    }
  }
}
