:host {
  .product-card__hero {
    background-color: var(--c-gray-400);
    height: 10rem;
  }

  .product-card__info {
    padding: 1rem;
  }

  .product-card__name {
    color: var(--c-gray-900);
    font-weight: bold;
  }

  .product-card__id {
    color: var(--c-gray-400);
    font-size: 0.875rem;
  }
}
